
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cadastro</title>
</head>
<body>
   @ViewBag.NomeCompleto  pimba

    <div>
        <a href="/colaborador/index">AAAAAA</a>
    </div>
</body>
</html>
